.footer{
    display:flex;
    background-color: #FF9AA2;
    width: 100%;
    padding-top: 7px;
    border-top: 2px solid #733e32;
    justify-content: center; /*Centramos las columnas*/
}

.footer li {
    padding: 4px;
    display: flex;
    align-items: center;
}

.est{
    list-style: none;
    display: block; /* Desactivamos el otro display flex, que me esta afectando, el de navegacion*/
    padding: 0;
    font-size: 18px;
}

.columna{
    padding-right: 3%;
}

.icon-peq{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

h2{
    margin: 5px;
    text-align:left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid;
}