.logo-design {
    height: 50px;
    width: 50px;
    border: 2px solid brown;
    border-radius: 50%;
    object-fit: cover; /* Coloca la imagen en el centro */
    margin-left: 2%;
}

.nav-bar{
    display: flex;
    background-color: #FFB7B2;
    align-items: center;
    border-bottom: 2px solid #733e32;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 4px 2px -2px gray; /* Agrega una sombra para distinguirla del contenido */
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
}

.icon{
    width: 35px;
    height: 35px;
}

.redes{
    margin-left: 43.5%;
}

ul .nav{
    display: inline-block; /*Quitamos el listado*/
    padding: 0 15px;
}

ul{
    display: flex;
    align-items: center; /*Centramos los elemenetos de la lista*/
    list-style-type: none;
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: cursive;

}

a:hover{
    color: #733e32;
}

/* Menu desplegable */
.menu-desplegable{
    position: relative; /* Nos sirve para posicionar el submenu*/
}

.submenu{
    display: none; /* Ocultamos el submenu */
    position: absolute;
    background-color: #FF9AA2;
    padding: 0;
    z-index: 1000;
    border: #733e32 2px solid;
    top: 100%;
    margin-left: -25%;
}

.submenu li{
    width: 165px;
}

.submenu li a{
    display: block;
    padding: 10px;
    color: black;
}

.submenu li a:hover{
    background-color: #FFB7B2;
    color: white;
}

/* Mostramos el submenu al mover el mouse sobre encima de productos */
.menu-desplegable:hover .submenu {
    display: block;
}

.main-content {
    background-image: url("../IMG/imgtortas/fondos/f5c3780a6ec17ff0b64e37574c066df9.jpg"); /* Cambia por la ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh; /* Se ajusta a la altura total de la ventana */
    padding-top: 60px; /* Ajusta según la altura de tu navbar */
    padding-bottom: 40px; /* Ajusta según la altura de tu footer */
    background-attachment: fixed; /* Esto hace que el fondo se mantenga fijo al hacer scroll */
}