.nav-bar{
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    align-items: center;
    border-bottom: 2px solid #733e32;
    position: fixed;
    z-index: 1000;
    width: 50%;
}

.icon{
    width: 45px;
    height: 45px;
}

.redes{
    margin-left: 41%;
}

ul .nav{
    display: inline-block; /*Quitamos el listado*/
    padding: 0 15px;
}

ul{
    display: flex;
    align-items: center; /*Centramos los elemenetos de la lista*/
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: cursive;

}

a:hover{
    color: #733e32;
}

body{
    background-color: antiquewhite;
    margin: 0;
}



.footer{
    display:flex;
    background-color: #D979A6;
    width: 100%;
    padding-top: 7px;
    border-top: 2px solid #733e32;
    justify-content: center; /*Centramos las columnas*/
}

.est{
    list-style: none;
    display: block; /* Desactivamos el otro display flex, que me esta afectando, el de navegacion*/
    padding: 0;
    font-size: 18px;
}

.columna{
    padding-right: 3%;
}

.icon-peq{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

h2{
    margin: 5px;
    text-align:left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid;
}

li{
    padding: 4px;
    display: flex;           
    align-items: center;
}


.logo-design{
    height: 80px;
    width: 180px;
    padding-left: 2%;
}






.form-container {
    background-color: #D979A6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #733e32;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color:  #733e32;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    box-shadow: 4px 4px 0  antiquewhite;
    margin-top: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translate(-4px, -4px);
    box-shadow: 8px 8px 0 #D979A6;
}


